.content-container {
  height: calc(100vh - 55px);
  position: relative;

  @media(min-width: $screen-lg) {
    height: calc(100vh - 45px);
  }
}

.container-grey {
  background: #e3e4e5;
  padding: 15px 10px;
}

.full-width-container {
  width: 100%;
}