$brand-blue: #20a8d8;
$brand-dark-grey: #c8ced3;
$brand-green: #4dbd74;
$brand-red: #f86c6b;
$brand-yellow: #ffc107;
$brand-light-blue: #63c2de;
$brand-grey: #f0f3f5;
$brand-black: #2f353a;
$brand-purple: #6f42c1;