.teams-add {
  form {
    padding: 0 5px;

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
      }

      input {
        border: 1px solid $brand-grey;
        height: 100%;
        padding: 8px;
        width: 100%;
      }

      button {
        background: $brand-green;
        border: 0;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 600;
        padding: 10px;
        text-transform: uppercase;
        transition: 0.3s ease all;

        &:hover {
          background: darken($brand-green, 10%);
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .players-container {
      .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-bottom: 10px;
        position: relative;

        > p {
          font-size: 18px;
          margin-bottom: 10px;
          text-align: center;
        }

        .player-remove-overlay {
          background: rgba(black, .8);
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          transition: 0.3s ease all;

          > p {
            color: white;
            margin-bottom: 10px;
          }

          svg {
            color: white;
          }
        }

        .positions-container {
          display: flex;
          justify-content: center;
      
          .position {
            align-items: center;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            transition: 0.3s ease all;
    
            &:first-of-type {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
      
            &:last-of-type {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
            
            &.striker {
                background: $brand-red;
                color: white;
            }
    
            &.defender {
                background: $brand-blue;
                color: white;
            }
          }
        }

        &.player-add {
          cursor: pointer;
          transition: 0.3s ease all;

          p {
            margin-bottom: 10px;
          }

          p, svg {
            color: black;
          }

          &:hover {
            p, svg {
              color: $brand-blue;
            }
          }
        }

        &:hover {
          .player-remove-overlay {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}